div {
    font-family: Georgia;
    color: white;
    font-size: 32px;
    padding: 5px;
 }
  
 nav {
    background-color: orange;
    padding: 5px;
    display: flex;
    justify-content: space-around;
 }
  
 img {
    width: 60px;
 }
  
 .items:hover {
    background-color: gray;
    opacity: 0.5;
 }
  
 a {
    width: 20%;
    text-align: center;
    text-decoration: none;
 }
 