div {
    font-family: Georgia;
    color: black;
    font-size: 32px;
    padding: 5px;
 }
  
 nav {
    background-color: orange;
    padding: 5px;
    display: flex;
    justify-content: space-around;
 }

 body{
    background-color: #F5CBA7
 }
  
 img {
    width: 60px;
 }
  
 .items:hover {
    background-color: gray;
    opacity: 0.5;
 }
  
 a {
    width: 20%;
    text-align: center;
    text-decoration: none;
 }

 img {
    width: 55%;
 }
 
 .img_box{
    display: flex;
    flex-direction: row
 }

h2 {
    font-size: 20px;
    padding: 10px;
 }

 .img1 {
    width: 50%
 }